<section id="about" class="about "  data-aos="fade-up">
  <div class="container"> 

    <div class="section-header">
      <h2>About Us</h2>
      <p>Learn More <span>About Us</span></p>
    </div>

    <div class="row gy-4">
      <div class="col-lg-7 position-relative about-img aos-init aos-animate"
        style="background-image: url(assets/img/about.jpg) ;" data-aos="fade-up" data-aos-delay="150">
        <div class="call-us position-absolute">
          <h4>Book a Table</h4>
          <p>+1 5589 55488 55</p>
        </div>
      </div>
      <div class="col-lg-5 d-flex align-items-end aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
        <div class="content ps-0 ps-lg-5">
          <p class="fst-italic">
            Quality Heating, Cooling And Installation Services
          </p>
          <ul class="d-none">
            <li><i class="bi bi-check2-all"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
            <li><i class="bi bi-check2-all"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
            <li><i class="bi bi-check2-all"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
              irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.
            </li>
          </ul>
          <p>
            Express Cool provides a complete range of services from Installation, Service & Maintenances of Residential
            and Commercial HVAC Systems. We have a team of engineers & support staff that have a good amount of
            experience in HVAC, Air Duct Installation, and Maintenance. Our philosophy is to offer a complete service
            covering every aspect of design, installation, servicing, repair, and maintenance for air conditioning and
            refrigeration systems.
          </p>

          <div class="position-relative mt-4">
            <img src="assets/img/about-2.jpg" class="img-fluid" alt=""> 
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <p>Our team of professionals works under a client-oriented approach to make sure that our services meet the
          client’s requirements. We use advanced technology in rendering prompt and efficient services. Our company is
          known for integrity, commitment, precision, result-oriented and timely deliveries.</p>

        <p>Apart from assuring quality and timely delivery, we adhere to periodic & regular after-sales support of our
          products. We genuinely take the load off the shoulders of busy client managers, who can focus on other vital
          issues in their areas of responsibilities.</p>
      </div>
    </div>

  </div>
</section>