.clients_logo_area {
  position: relative;
  width: 100%;
  display: inline-block;
}

.clients_logo img {
  width: 123px !important;
  text-align: center;
  margin: auto;
  height: auto;
  opacity: .3;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.clients_logo img:hover {
  opacity: 1;
}

#Clients .box-ctn {
  padding: 55px;
}

#Clients h3 {
  font-size: 50px;
  font-weight: 900;
  color: rgb(0, 0, 0);
  position: relative;
  text-align: center;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  padding-bottom: 0;
  margin-bottom: 0;
}

#Clients .box-ctn {
  border: 1px solid #9b9b9b;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  flex-wrap: wrap;
  height: 200px;
  overflow: hidden;
}

#Clients .col-xs-6.col-sm-4.col-md-3.text-center img {
  width: 60%;

  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#Clients .col-xs-6.col-sm-4.col-md-3.text-center:hover img {}

#Clients .col-xs-6.col-sm-4.col-md-3.text-center:hover {
  border-color: #60b53f;
}

#Clients .box-ctn {
  padding: 65px;
}


@media (max-width: 991px) {
  
#Clients .box-ctn {
  margin: 5px 10px;
}
}